<div class="grid-row reverse video-gallery">
    <input type="radio" value="1" name="video-list" id="video-1" checked="checked" /><label for="video-1">Statistics</label>
    <input type="radio" value="2" name="video-list" id="video-2" /><label for="video-2">Simple Harmonic Motion</label>
    <input type="radio" value="3" name="video-list" id="video-3" /><label for="video-3">Rank Paper</label>
    <input type="radio" value="4" name="video-list" id="video-4" /><label for="video-4">Series 01</label>
    <input type="radio" value="5" name="video-list" id="video-5" /><label for="video-5">Series 02</label>
    <input type="radio" value="6" name="video-list" id="video-6" /><label for="video-6">Synthetic Division</label>
    <!-- videos -->
    <div class="video video-1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KeQQmjzlmYY?si=pAeWFXChEtcRfAxS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
   
    <div class="video video-2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/h55B34wpxig?si=HCtVl_XnY7kdoSTz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
   
    <div class="video video-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2GjlU-uQGy0?si=vSJo_R-zV1mYsvCQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
   
    <div class="video video-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/e4VGuoxF66s?si=8TwXyuZyKQRWniT9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
   
    <div class="video video-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sgP3DdI6164?si=jupdjeb-4SJ_mEKK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
   
    <div class="video video-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AbZpovoXwSY?si=ZBUEY1peokBDs9MF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <!-- videos -->
   </div>