<ul class="image-container">
    <li *ngFor="let d of details">
        <div routerLink="/">
            <div class="portrait-image">
                <div class="sub-portrait">
                    <h4>{{d.className}} | {{d.subject}}</h4>
                    <img src="../../../assets/KGP09455.jpg" alt="Portrait Image">
                </div>
                <p>{{d.teacherName}}</p>
                <ul class="details">
                    <li>{{d.conductType}}</li>
                    <li>{{d.location}}</li>
                </ul>
                <div class="more-details">
                    <p>{{d.date}}: {{d.time}} </p>
                    <h4>Rs. {{d.feez}} Per Month</h4>
                    <hr style="border: 0.5px solid #b4b0b0; width: 100%; margin: 10px auto;">
                    <a href="/">
                        <p>Learn More...</p>
                    </a>
                </div>
            </div>
            
        </div>
    </li>
</ul>
