<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="navbar">
 
<section class="container">
<div class="logo">
  <i class="fa-solid fa-shop"></i>
</div>

  <ul class="menu">
    <li class="menu-list">
    <a routerLink="/home" class="menu-link">Home</a>
    </li>
     <li class="menu-list">
    <a routerLink="/class" class="menu-link">Classes</a>
    </li>
     <li class="menu-list">
    <a routerLink="/video" class="menu-link">Recorded Lessons</a>
    </li>
     <li class="menu-list">
    <a routerLink="/tute" class="menu-link">Tute Packs</a>
    </li>
     <li class="menu-list">
    <a routerLink="/user" class="menu-link">Profile</a>
    </li>
  </ul>

  </section>
</nav>




<router-outlet />


